# ======================
# ENV FILES (IMPORTANT)
# ======================
.env

# ======================
# LOG FILES
# ======================
*.log
out.log
app_logs.txt

# ======================
# SPRING BOOT / MAVEN
# ======================
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/


# ======================
# LOCAL CONFIG (SECRETS)
# ======================
application-dev.properties
application-prod.properties
# ======================
# IDE FILES
# ======================
.idea/
*.iml
*.iws
*.ipr

.classpath
.project
.settings
.springBeans
.sts4-cache

# ======================
# NETBEANS
# ======================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ======================
# VS CODE
# ======================
.vscode/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db